body {background-color: #b98b46}

h1 {
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center;
  background-color: #f26e2c;
  text-shadow: 2px 2px black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #f26e2c;
    text-align: center;
    background-color: #736b67
;
}

p {
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
}



div.list {
  text-align: center;
}

ul {
   list-style-type: none;
  margin: 0;
  color: white;
  padding: 0;
  overflow: hidden;
  background-color:#f0793a;

li {
  float: left;
  display:inline;
}


